* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --logo-purple: #8c3edb;
  --logo-green: #596d2f;

  --header-green: #658e0e;
  --header-green-dark: #46610a;
  --accent-pink: #db3e8c;
  --accent-pink-dark: #c22473;
  --bg-purple: #643c8c;
}

body {
  font-family: "Lora", serif;
  line-height: 1.5;
}

/* COMMON ELEMENTS */

h1,
h2,
h3 {
  font-size: 2.25rem;
  text-align: center;
  color: var(--header-green);

  margin: 2rem 0;
  line-height: 1;
}

img {
  width: 100%;
  height: auto;
}

p {
  max-width: 60ch;
  margin-bottom: 1rem;
}

.cta-link {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  background-color: var(--accent-pink);

  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.cta-link:hover,
.cta-link:focus {
  background-color: var(--accent-pink-dark);
}

/* HEADER */

header {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  font-size: 2.5rem;
  margin: 0;
  text-align: left;
}

.logo-pet {
  color: var(--logo-purple);
}

.logo-something {
  color: var(--logo-green);
}

nav {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform-origin: top;
  transform: scaleY(0);

  transition: transform 0.25s ease-in-out;

  border-bottom: 1px solid var(--accent-pink-dark);
}

nav > * {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.nav-toggle-checkbox:checked ~ nav {
  transform: scaleY(1);
}

.nav-toggle-checkbox:checked ~ nav > * {
  opacity: 1;
}

.nav-links {
  padding-top: 1rem;
  width: 100%;
  padding-left: 1rem;

  list-style: none;
}

.nav-links li {
  margin-bottom: 1rem;
}

.nav-links a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a:focus {
  color: var(--accent-pink);
}

nav .cta-link {
  margin: 1rem 0;
}

.nav-toggle-checkbox {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;

  position: absolute;
  top: -9999px;
  left: -9999px;
}

.nav-toggle-label {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 4rem;

  fill: var(--header-green);

  position: absolute;
  top: 0.75rem;
  right: 0.5rem;

  cursor: pointer;
}

.nav-toggle-label:hover,
.nav-toggle-label:focus {
  fill: var(--header-green-dark);
}

/* Hero Section */

.hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.service-step {
  max-width: 400px;
  margin-bottom: 1rem;

  display: grid;
  column-gap: 0.5rem;

  grid-template-areas: "img img" "number text";
}

.service-step img {
  grid-area: img;

  object-fit: contain;
}

.service-step-number {
  grid-area: number;

  font-size: 4rem;
  color: var(--accent-pink);
  place-self: center;
}

.service-step-text {
  grid-area: text;

  align-self: center;
}

/* Pitch Section */

.pitch-wrapper {
  background-color: var(--bg-purple);
  color: white;
  padding: 4rem 0;

  clip-path: polygon(
    0% 0%,
    11% 0.5rem,
    29% 0%,
    50% 0.5rem,
    64% 0%,
    81% 0.5rem,
    100% 0%,
    100% 100%,
    86% calc(100% - 0.5rem),
    69% 100%,
    53% calc(100% - 0.5rem),
    32% 100%,
    16% calc(100% - 0.5rem),
    0% 100%
  );
}

.pitch {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.pitch .name {
  max-width: 30ch;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
}

/* Tiers Section */

.tier-list {
  padding: 0 0.5rem;
}

.tier-card {
  margin-bottom: 1rem;
  width: 75%;
  max-width: 300px;
  margin: 1rem auto;
  padding: 1rem;

  background-color: #dedede;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 2px 2px 8px -4px rgba(0, 0, 0, 0.2);
}

.tier-card h3 {
  color: black;
  text-transform: uppercase;

  font-size: 1.5rem;
  margin: 1rem 0 2rem;
}

.tier-card li {
  list-style: none;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.tier-card .price {
  margin: 1rem 0 0.5rem;
  width: 75%;
  text-align: right;
}

.tier-card .cta-link {
  width: 75%;
  text-align: center;
  text-transform: uppercase;
}

.tier-card.tier-card-highlight {
  max-width: 350px;
  background-color: #b0e936;
  padding: 1.5rem 1rem;
}

/* Testimonials Section */

.testimonials-wrapper {
  background-color: var(--header-green-dark);
  padding: 2rem 0;
  margin-top: 2rem;

  clip-path: polygon(0 1rem, 100% 0, 100% 100%, 0 100%);
}

.testimonials {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.testimonials h2 {
  color: white;
}

.testimonial {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;

  border-radius: 0.5rem;
}

.testimonial .name {
  color: var(--accent-pink);
  font-weight: 700;
  text-align: right;
}

/* CTA Section */

.cta {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta h2 {
  margin-bottom: 0.5rem;
}

.cta .subheader {
  color: #596d2f;
  font-size: 1.5rem;
  text-align: center;

  margin-bottom: 4rem;
}

.cta .cta-link {
  max-width: 600px;
  font-size: 1.5rem;
}

/* Footer */

footer {
  padding: 1rem 0;
  background-color: var(--bg-purple);
}

footer p {
  font-size: 0.8em;
  color: white;
  margin: 0;
  text-align: center;
  max-width: 100ch;
}

footer a {
  color: white;
}

@media screen and (min-width: 875px) {
  /*  Header Component */
  
  header {
    display: flex;

    align-items: center;
  }

  .nav-toggle-checkbox,
  .nav-toggle-label {
    display: none;
  }

  nav {
    position: static;
    transform: none;

    border: none;

    flex-direction: row;
  }

  nav > * {
    opacity: 1;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0;

    width: auto;
    margin: 0 auto;
  }

  .nav-links li {
    margin: 0;
    margin-left: 1rem;
  }

  nav .cta-link {
    width: max-content;
  }
}
